<div class="center-screen">
  <div class="contenedor">
    <div class="column left" >
      <div class="saludo-mobile">
        <img class="logo-mobile" src="../assets/img/vepet_logo-02.svg">
      <h4 class="white">¡Postulate Ahora!</h4>
      <br>
      <span class="white">Gracias por haber elegido a Vepet, Completa los campos del formulario, envíalo <br> y en breve el equipo se pondrá en contacto contigo para tu aprobación como médico</span>
      </div>
      <div class="form-container">
        <form [formGroup]="postulationForm">
          <div class="personales" *ngIf="stepIndex == 0">
            <h2 class="form-title">Datos personales</h2>
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre(s)</mat-label>
                <input #nombre formControlName="nombre" matInput >
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Apellido Paterno</mat-label>
                <input formControlName="apellidoPat" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Apellido Materno</mat-label>
                <input formControlName="apellidoMat" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field >
                <mat-label>Fecha de Nacimiento</mat-label>
                <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <div class="actions">
                <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                <!-- <button mat-stroked-button color="accent">Accent</button>
                <button mat-stroked-button color="warn">Warn</button> -->
              </div>
            </div>
          </div>
          <div class="profesionales" *ngIf="stepIndex == 1">
            <h2 class="form-title">Datos Profesionales</h2>
            <div class="row prof-row" *ngFor="let item of dataSource">
              <div class="col-6">
                <mat-form-field >
                  <mat-label>Escolaridad</mat-label>
                  <mat-select >
                    <mat-option *ngFor="let item of escolaridades" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <div class="custom-file">
                  <input placeholder="Cedula" type="file" class="custom-file-input" id="customFile" (change)="onFileSelected($event)">
                  <label class="custom-file-label" for="customFile">{{files[0]}}</label>
                </div>
              </div>
            </div>
            <div class="row prof-row">
              <div class="col-md-4 offset-md-8 add-row">
                <button mat-stroked-button color="primary" (click)="addRow()">Añadir</button>
              </div>
            </div>
            <div class="row prof-row">
              <div class="col-md-4 offset-md-8 add-row">
                <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 2">
            <!-- ETICA PERSONAL -->
            <h2 class="form-title">Formulario de Selección</h2>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Por qué decidiste ser MVZ?</mat-label>
                <textarea formControlName="eticaPers1" matAutosizeMinRows=5 matAutosizeMaxRows=20 matInput></textarea>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field >
                <mat-label>Si un propietario/tutor te pide consulta por fuera de la app, ¿qué harías?</mat-label>
                <mat-select formControlName="eticaPers2">
                  <!-- <mat-option>None</mat-option> -->
                  <mat-option value="Le explico los beneficios de seguir en contacto mediante la aplicación VEPET">Le doy mi correo electrónico o número telefónico</mat-option>
                  <mat-option value="Le explico los beneficios de seguir en contacto mediante la aplicación VEPET">Le explico los beneficios de seguir en contacto mediante la aplicación VEPET</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field >
                <mat-label>¿Qué porcentaje de ganancia consideras justa para una prueba de laboratorio o imagenología?</mat-label>
                <mat-select formControlName="eticaPers3">
                  <mat-option value="option1">menos de 10%</mat-option>
                  <mat-option value="option2">entre 10 y 50%</mat-option>
                  <mat-option value="option3">entre 50% y 100%</mat-option>
                  <mat-option value="option3">más del 100%</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Tienes algún Hobbie?</mat-label>
                <input formControlName="eticaPers4" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="row prof-row">
              <div class="col-md-4 offset-md-8 add-row">
                <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 3">
            <h2 class="form-title">Formulario de Selección</h2>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>En tu labor veterinaria diaria, escribe tres cosas de las que te enorgulleces</mat-label>
                <input formControlName="eticaPers5" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>En tu labor veterinaria diaria, escribe tres cosas que consideras que puedes mejorar</mat-label>
                <input formControlName="eticaPers6" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Qué te gusta y qué no te gusta de ser MVZ?</mat-label>
                <input formControlName="eticaPers7" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Por qué quieres trabajar en Vepet? </mat-label>
                <input formControlName="eticaPers8" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="row prof-row">
              <div class="col-md-4 offset-md-8 add-row">
                <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 4">
            <h2 class="form-title">Formulario de Selección</h2>
            <p>Elige la opcion que describa tu protocolo para dar consulta </p>
            <div class="row prof-row radios">
              <div class="col-4 tall">
                <input formControlName="eticaProf1" type="radio" name="eticaProf1" value="a" id="ep1r1"/>
                <label class="radio" for="ep1r1">
                  <div class="clickeable"> 
                    <ol>
                      <li>Escucho la anamnesis</li>
                      <li>Hago el examen físico general</li>
                      <li>Explico diagnósticos presuntivos</li>
                      <li>Sugiero estudios necesario para confirmar diagnóstico</li>
                      <li>Extiendo receta médica con tratamiento o administró tratamiento</li>
                    </ol>  
                  </div>
                </label>
              </div>
              <div class="col-4 tall">
                <input formControlName="eticaProf1" type="radio" name="eticaProf1" value="b" id="ep1r2" />
                <label class="radio" for="ep1r2">
                  <div class="clickeable">
                    <ol>
                      <li>Escucho la anamnesis</li>
                      <li>Explico diagnósticos presuntivos</li>
                      <li>Hago el examen físico general </li>
                      <li>Extiendo receta médica con tratamiento o administró tratamiento</li>
                    </ol>  
                  </div>
                </label>
              </div>
              <div class="col-4 tall">
                <input formControlName="eticaProf1" type="radio" name="eticaProf1" value="c" id="ep1r3" />
                <label class="radio" for="ep1r3">
                  <div class="clickeable">
                    <ol>
                      <li>Hago el examen físico general</li>
                      <li>Explico diagnósticos presuntivos</li>
                      <li>Sugiero estudios necesario para confirmar diagnóstico</li>
                      <li>Extiendo receta médica con tratamiento o administró tratamiento</li>
                    </ol>  
                  </div>
                </label>
              </div>
              <div class="row prof-row">
                <div class="col-md-4 offset-md-8 add-row">
                  <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 5">
            <h2 class="form-title">Formulario de Selección</h2>
            <p>Cachorro, hematoquezia,vómito ¿Qué harias en este caso? </p>
            <div class="row prof-row">
              <div class="col-12 wide">
                <input formControlName="eticaProf2" type="radio" name="eticaProf2" value="a" id="ep2r1"/>
                <label class="radio" for="ep2r1">
                  <div class="clickeable">
                    <p>Le administro metronidazol, metoclopramida y le doy receta para revisarlo en una semana
                    </p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf2" type="radio" name="eticaProf2" value="b" id="ep2r2"/>
                <label class="radio" for="ep2r2">
                  <div class="clickeable">
                    <p>Le sugiero estudios de laboratorio como hemograma y bioquímica y un coproparasitoscópico y espero resultados para tomar decisiones
                    </p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf2" type="radio" name="eticaProf2" value="c" id="ep2r3"/>
                <label class="radio" for="ep2r3">
                  <div class="clickeable">
                    <p>Lo reviso, le sugiero estudios de laboratorio como hemograma y bioquímica y una prueba para descartar parvovirosis, y si lo amerita lo hospitalizo para dar tratamiento y terapia de líquidos.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf2" type="radio" name="eticaProf2" value="d" id="ep2r4"/>
                <label class="radio" for="ep2r4">
                  <div class="clickeable">
                    <p>Lo hospitalizo para estabilizarlo, le doy tratamiento paliativo y luego realizo las pruebas pertinentes
                      .</p>
                  </div>
                </label>
              </div>
              <div class="row prof-row">
                <div class="col-md-4 offset-md-8 add-row">
                  <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 6">
            <h2 class="form-title">Formulario de Selección</h2>
            <p>Adulto con linfadenomegalia generalizada ¿Qué harias en este caso? </p>
            <div class="row prof-row">
              <div class="col-12 wide">
                <input formControlName="eticaProf3" type="radio" name="eticaProf3" value="a" id="ep3r1"/>
                <label class="radio" for="ep3r1">
                  <div class="clickeable">
                    <p>Le administro corticosteroides y le inyecto antibiótico.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf3" type="radio" name="eticaProf3" value="b" id="ep3r2"/>
                <label class="radio" for="ep3r2">
                  <div class="clickeable">
                    <p>Le hago citología y espero el diagnóstico para tratamiento.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf3" type="radio" name="eticaProf3" value="c" id="ep3r3"/>
                <label class="radio" for="ep3r3">
                  <div class="clickeable">
                    <p>Le digo que no hay nada que hacer, es mejor la eutanasia.</p>
                    </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf3" type="radio" name="eticaProf3" value="d" id="ep3r4"/>
                <label class="radio" for="ep3r4">
                  <div class="clickeable">
                    <p>Le hago biopsia de linfonodo y le administro corticosteroides.</p>
                    </div>
                </label>
              </div>
              <div class="row prof-row">
                <div class="col-md-4 offset-md-8 add-row">
                  <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 7">
            <h2 class="form-title">Formulario de Selección</h2>
            <p>Iguana con fracturas patológicas ¿Qué harias en este caso? </p>
            <div class="row prof-row">
              <div class="col-12 wide">
                <input formControlName="eticaProf4" type="radio" name="eticaProf4" value="a" id="ep4r1"/>
                <label class="radio" for="ep4r1">
                  <div class="clickeable">
                    <p>Les explico la importancia de los rayos UV y la dieta.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf4" type="radio" name="eticaProf4" value="b" id="ep4r2"/>
                <label class="radio" for="ep4r2">
                  <div class="clickeable">
                    <p>Le hago radiografías y hago fijación de la fractura.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf4" type="radio" name="eticaProf4" value="c" id="ep4r3"/>
                <label class="radio" for="ep4r3">
                  <div class="clickeable">
                    <p>La derivo con un especialista en reptiles.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf4" type="radio" name="eticaProf4" value="d" id="ep4r4"/>
                <label class="radio" for="ep4r4">
                  <div class="clickeable">
                    <p>Los regaño por que no la cuidaron.</p>
                  </div>
                </label>
              </div>
              <div class="row prof-row">
                <div class="col-md-4 offset-md-8 add-row">
                  <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 8">
            <h2 class="form-title">Formulario de Selección</h2>
            <p>¿Cuál de estas es una urgencia y requiere acudir de inmediato al hospital? </p>
            <div class="row prof-row">
              <div class="col-12 wide">
                <input formControlName="eticaProf5" type="radio" name="eticaProf5" value="a" id="ep5r1"/>
                <label class="radio" for="ep5r1">
                  <div class="clickeable">
                    <p>Gato macho adulto que orina con dificultad desde hace 4 días.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf5" type="radio" name="eticaProf5" value="buen" id="ep5r2"/>
                <label class="radio" for="ep5r2">
                  <div class="clickeable">
                    <p>Perro adulto con diarrea (1 diaria y pastosa) por 3 días, come y bebe normalmente.</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf5" type="radio" name="eticaProf5" value="c" id="ep5r3"/>
                <label class="radio" for="ep5r3">
                  <div class="clickeable">
                    <p>Gato con distrés respiratorio (taquicardia, taquipnea y patrón respiratorio obstructivo).</p>
                  </div>
                </label>
              </div>
              <div class="col-12 wide">
                <input formControlName="eticaProf5" type="radio" name="eticaProf5" value="d" id="ep5r4"/>
                <label class="radio" for="ep5r4">
                  <div class="clickeable">
                    <p>Cachorro de 4 meses que expulsó dos parásitos en heces tres días seguidos en las heces.</p>
                  </div>
                </label>
              </div>
              <div class="row prof-row">
                <div class="col-md-4 offset-md-8 add-row">
                  <button mat-flat-button class="blue-btn" (click)="nextStep()">Siguiente</button>
                </div>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 9">
            <h2 class="form-title">Formulario de Selección</h2>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Cómo consideras un buen servicio al cliente?</mat-label>
                <input formControlName="servicioCte1" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field >
                <mat-label>¿Qué haces si no te quieren pagar el servicio ofrecido previamente?</mat-label>
                <mat-select formControlName="servicioCte2">
                  <mat-option value="option1">le digo que ya ni modo y me retiro del lugar</mat-option>
                  <mat-option value="option2">Pregunto el por qué no quiere pagar y solucionar su inconformidad para que pague</mat-option>
                  <mat-option value="option3">le digo que tiene que pagar, si no le hablo a la policía de inmediato</mat-option>
                  <mat-option value="option3">entro en conflicto con la gente con facilidad</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field >
                <mat-label>¿Cómo respondes a un propietario/tutor que sea prepotente/grosero/agresivo/negligente?</mat-label>
                <mat-select formControlName="servicioCte3">
                  <mat-option value="option1">Escucho sus quejas y trato de ser empático, sin responder con agresión física o verbal, comprender sus quejas y tratar de solucionarlo</mat-option>
                  <mat-option value="option2">Le respondo y al mismo nivel que la persona lo está haciendo</mat-option>
                  <mat-option value="option3">Me voy del lugar, no tengo porqué tolerar personas así</mat-option>
                  <mat-option value="option3">Lo escucho y dejo que se desahogue para luego yo decirle sus cosas</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field class="stretch-height">
                <mat-label>¿Cómo eres con los animales/pacientes?</mat-label>
                <input formControlName="servicioCte4" matInput placeholder="" value="">
              </mat-form-field>
            </div>
            <div class="row prof-row">
              <div class="col-md-4 offset-md-8 add-row">
                <button mat-flat-button class="blue-btn" (click)="nextStep()">Finalizar</button>
              </div>
            </div>
          </div>
          <div class="formulario-seccion" *ngIf="stepIndex == 10">
            <div class="exitosa">
              <h4 >Postulación Exitosa</h4>
              <br>
              <span >Nuestro equipo ha recibido tu información, pronto tendras noticias con el estado de tu postulación</span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="column right" >
      <img class="logo" src="../assets/img/vepet_logo-02.svg">
      <h4 class="white">¡Postulate Ahora!</h4>
      <br>
      <span class="white">Gracias por haber elegido a Vepet, Completa los campos del formulario, envíalo <br> y en breve el equipo se pondrá en contacto contigo para tu aprobación como médico</span>
    </div>
  </div>
</div>
